
html,
body
{
    height: 100%;
}

.footer {
    flex: 0 0 auto;
    height: 50px;
    color: white;
    background-color: #3c3f41;
}

.header {
    display: flex;
    font-family: "Andale Mono", sans-serif;
    justify-content: space-between;
    font-size: 30px;
    color: white;
    padding: 10px;
    background-color: #3c3f41;
}
.header-text{
    text-align: center;
    margin:  auto auto auto 20px;
}
.header-btn-box {
    display: flex;
    font-family: "Andale Mono", sans-serif;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: #3c3f41;
}
.header>div{
}
body {
    font-family: "Andale Mono", sans-serif;
    font-size: 20px;
}
* {
    margin: 0;
    padding: 0;
}
form{
    text-align: center;
    background: #d7d7d7;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
}
.form-middle{

}
form>*>*{
    font-family: "Andale Mono", sans-serif;
    font-size: 15px;
}
form>p>input{

    background: #efefef;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a{color: white;
    text-decoration: none;}

.btn{
    display: inline-block;
    background: #3c3f41;
    color: white;
    margin: 2px;
    padding: 15px;
    /*min-width: 150px;*/
    max-width: 200px;
    max-height: max-content;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
    transition-property: color, backgroung;
    transition:200ms
}

.btn:hover{
    background: #c7c7c7;
    color: #3c3f41;
    cursor: pointer;
    transition:200ms
}
.btn-primary{
    color: white;
    background: #1b7ad7;
}
.btn-secondary{
    color: white;
    background: #31888d;
}
.content {

    display: flex;
    /*align-items: flex-start;*/
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.content > div{
    margin: 10px;
    padding: 10px;
    min-width: 40%;
    flex: 1 1 auto;
}


.content-rows {
    flex-direction: row;

}

.content-col{
    flex-direction: column;
}

#control_bar{
    flex: 1 1 auto;
    min-height: 300px;
    background: #d7d7d7;
    margin: 0 7%;
    border-radius: 15px;
}
#control_bar>*{
    flex: 1 1 auto;
}
.content-col-1 > div{
    min-width: 85%;
}
.content-rows-2 > div{
    min-width: 45%;
}
.content-rows-3 > div{
    min-width:27%;
}
.btn-panel{
    align-items: center;
}
.btn-panel>*{
    align-items: center;
}
.btn-panel{
    margin: 0;
}
.photo-box{
    /*display: flex;*/
    /*justify-content: space-between;*/
    border-radius: 10px;
    min-width: 500px;
    /*max-width: 700px;*/
    border: aqua solid 6px;
    background: #d7d7d7;
}
.photo{

    max-width: 400px;
    max-height: 400px;
    padding: 20px;
    margin: 10px;
    border-radius: 15px;
    min-width: 60%;
    min-height: 40%;
    background: #c7c7c7;
}
.photo-info> * {
    padding: 20px;
    margin: 10px 10px;
    max-width: 80%;
    border-radius: 15px;
    background: #c7c7c7;
}
.photo-box-buttons{
    flex: 0 0 auto;
}
#album{
    padding: 0 5%;

}
.photo>img{

    max-width: 400px;
    max-height: 400px;
}

.centered {
    text-align: center;
}

.centered>* {
    margin: 5px auto;
}
