{{ define "album" }}
    <!doctype html>
    <html lang="en" xmlns="http://www.w3.org/1999/html">
    {{ template "header"}}
    <script>
        function Up() {
            var obj = {};
            obj.direction = 'y'
            obj.value = 3
            $.ajax({
                url: '/private/move_control',
                type : "post",
                contentType: "application/json",
                dataType : 'json',
                data : JSON.stringify(obj),
                success : function(response) {
                    //print ok
                },
                error: function(xhr, resp, text) {
                    //print Err
                }
            })
        }
        function Down() {
            var obj = {};
            obj.direction = 'y'
            obj.value = -3
            $.ajax({
                url: '/private/move_control',
                type : "post",
                contentType: "application/json",
                dataType : 'json',
                data : JSON.stringify(obj),
                success : function(response) {
                    // print ok
                },
                error: function(xhr, resp, text) {
                    //print Err
                }
            })
        }
        function Left() {
            var obj = {};
            obj.direction = 'x'
            obj.value = -3
            $.ajax({
                url: '/private/move_control',
                type : "post",
                contentType: "application/json",
                dataType : 'json',
                data : JSON.stringify(obj),
                success : function(response) {
                    // print ok
                },
                error: function(xhr, resp, text) {
                    //print Err
                }
            })
        }
        function Right() {
            var obj = {};
            obj.direction = 'x'
            obj.value = 3
            $.ajax({
                url: '/private/move_control',
                type : "post",
                contentType: "application/json",
                dataType : 'json',
                data : JSON.stringify(obj),
                success : function(response) {
                    // print ok
                },
                error: function(xhr, resp, text) {
                    //print Err
                }
            })
        }
    </script>
    <div class="centered content content-col content-col-1" id="content">
        <div class="content content-rows content-rows-2" id="control_bar">
            <div class="content content-col content-col-1 btn-panel">
                <p>Control</p>
                <div class="content content-rows content-rows-1">
                <div class="btn" onclick="Up()">Up</div>
                </div>
                <div class="content content-rows content-rows-3">
                    <div class="btn btn-panel" onclick="Left()">Left</div>
                    <div class="btn btn-primary btn-panel">Photo</div>
                    <div class="btn btn-panel" onclick="Right()">Right</div>
                </div>
                <div class="content content-rows content-rows-1">
                <div class="btn" onclick="Down()">Down</div>
                </div>
            </div>
{{/*            <div class="content content-col content-col-1">*/}}

                  <div class="photo">
                      <div class="centered">Last photo</div>
                      <img  src="/private/static/img/img_1.png" alt="name" >
                  </div>
{{/*                </div>*/}}

        </div>
        <div id="album" class="content content-rows content-rows-3">
            <div class=" centered photo-box content-col">
                <div class="photo">
                    <img src="/private/static/img/img_1.png" alt="name">
                </div>
                <div class="centered photo-info"><p>info</p></div>
                <div class="photo-box-buttons content content-rows content-rows-2">
                    <div class="btn">Download</div>
                    <div class="btn btn-secondary">Delete</div>
                </div>
            </div>
            <div class="centered photo-box content-col">
                <div class="photo"><img src="/private/static/img/img_1.png" alt="namee" width="100%"
                                        height="100%">
                </div>
                <div>info</div>
                <div class="content content-rows content-rows-2">
                    <div class="btn">Download</div>
                    <div class="btn btn-secondary">Delete</div>
                </div>
            </div>
            <div class="centered photo-box content-col">
                <div class="photo"><img src="/private/static/img/img_1.png" alt="namee" width="100%" height="100%">
                </div>
                <div>info</div>
                <div class="content content-rows content-rows-2">
                    <div class="btn">Download</div>
                    <div class="btn btn-secondary">Delete</div>
                </div>
            </div>
            <div class="centered photo-box content-col">
                <div class="photo"><img src="/private/static/img/img_1.png" alt="namee" width="100%" height="100%">
                </div>
                <div>info</div>
                <div class="content content-rows content-rows-2">
                    <div class="btn">Download</div>
                    <div class="btn btn-secondary">Delete</div>
                </div>
            </div>
            <div class="photo-box"> Альбом</div>
            {{/*    <div class="container">*/}}
        </div>


    </div>
    {{ template "footer"}}
    </html>
{{ end }}
