{{ define "header" }}
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
              name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        {{/*        <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon">*/}}
        <link href="/static/css/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>Rpi Cam Control</title>
    </head>
    <body>
    <div class="wrapper">
        <div class="header">
            <span><a href="/">RpiCam</a></span>
            <span class="student-info">Место для кнопок</span>
        </div>
{{end}}