{{ define "index" }}
    <!doctype html>
    <html lang="en">
    {{ template "header"}}
    <div class="content" id="content">
        <div>
        <p> <a href="/private/" class="btn btn-primary">Альбом</a></p>
        <p><a href="/login" class="btn btn-primary">Войти</a></p>
        <p><a href="/register" class="btn btn-secondary">Зарегистрироваться</a></p>
        <p><a href="/logout" class="btn btn-secondary">Выйти</a></p>
        </div></p>
    </div>
    {{ template "footer"}}
    </html>
{{ end }}
