{{ define "login" }}
    <!doctype html>
    <html lang="en">

    {{ template "header"}}
    <main>
        <script>
            const submit = function (e) {
                e.preventDefault();
                var obj = {};
                obj.name = $("#name_f").val();
                obj.password = $("#password_f").val();
                    $.ajax({
                        url: '',
                        type : "post",
                        contentType: "application/json",
                        dataType : 'json',
                        data : JSON.stringify(obj),//$("form").serialize(), // post data || get data
                        success : function(result) {
                            document.querySelector("#answer-div").innerHTML = result
                        },
                        error: function(xhr, resp, text) {
                            document.querySelector("#answer-div").innerHTML = resp
                        }
                    })
                    return;
            };
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelector('#submitButton').addEventListener('click', submit);
            })
        </script>
        <form>
           <p>   <input type="text" id="name_f" name="name"> </p>
            <p>  <input type="password" id="password_f" name="password"> </p>
            <p> <button class="check-button" id="submitButton" type="submit">Зарегистрироваться</button></p>
        </form>
            <div id="answer-div"> </div>
    </main>
    {{ template "footer"}}
    </html>
{{ end }}
