{{ define "register" }}
    <!doctype html>
    <html lang="en">

    {{ template "header"}}
    <div class="content content-col content-col-1" id="content">
        <script>
            const submit = function (e) {
                e.preventDefault();
                var obj = {};
                obj.name = $("#name_f").val();
                obj.password = $("#password_f").val();
                obj.code_word = $("#code_word_f").val();
                    $.ajax({
                        url: 'register',
                        type : "post",
                        contentType: "application/json",
                        dataType : 'json',
                        data : JSON.stringify(obj),//$("form").serialize(), // post data || get data
                        success : function(response) {
                                location.href = "/";
                        },
                        error: function(xhr, resp, text) {
                            document.querySelector("#answer-div").innerHTML = resp
                        }
                    })
            };
            document.addEventListener('DOMContentLoaded', function () {
                document.querySelector('#submitButton').addEventListener('click', submit);
            })
        </script>
        <div>
        <form>
            <p>  <input type="text" id="name_f" name="name" placeholder="Login"> </p>
            <p>  <input type="password" id="password_f" name="password" placeholder="Password"> </p>
            <p>  <input type="password" id="code_word_f"name="code_word" placeholder="Check code (from setup)"> </p>
            <p> <button class="btn btn-primary" id="submitButton" type="submit">Sign up</button></p>
        </form>
        </div>
            <div class="centered" id="answer-div"> </div>
    </div>
    {{ template "footer"}}
    </html>
{{ end }}
