<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link href="/static/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Rpi Cam Control</title>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <span><a href="/">RpiCam</a></span>
        <span class="student-info">Место для кнопок</span>
    </div>

    <div class="content content-col content-col-1" id="content">
        <div class="centered" id="control_bar"> Управление</div>
        <div id="album" class="content content-rows content-rows-3">
            <div class="centered photo-box content-col">
                <div class="photo"><img src="/private/static/img/img_1.png" alt="namee" width="100%" height="100%">
                </div>
                <div>info</div>
                <div class="content content-rows content-rows-2">
                    <div class="btn">Download</div>
                    <div class="btn btn-secondary">Delete</div>
                </div>
            </div>

            <div class="photo-box"> Альбом</div>
            <div class="photo-box"> Альбом</div>
            <div class="photo-box"> Альбом</div>
            <div class="photo-box"> Альбом</div>


        </div>


    </div>

    <div class="centered footer">
            <p>
                <a href="https://github.com/japersik" title="GitHub">
                    &copy;japersik, 2022
                </a>
            </p>
    </div>
</div>
</body>


</html>